.terms {
  width: 95%;
  margin: auto;
  margin-top: 50px;
}

.terms1 {
}

.terms1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

.terms4 {
  margin-top: 60px;
}

.terms2 {
  margin-bottom: 50px;
}

.terms2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 27px;
  margin: 0;
}

.terms3 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.terms3 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
  margin: 0;
}

.terms2 textarea {
  border-radius: 6.81px;
  border: 1.36px solid #b7b7b7;
  outline: none;
  padding-left: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 19.59px;
  color: #000000;
  line-height: 24.58px;
  margin: 0;
  padding-top: 20px;
  margin-top: 50px;
}

.terms2 textarea::placeholder {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #7d7d7d;
  line-height: 20.08px;
  margin: 0;
}


.terms5{
  margin-top: 50px;
}